@charset "utf-8";

.fluid {
    clear: both;
    margin-left: 0;
    width: 100%;float: left;
    display: block;
    background-color: #3d3a40;
}
.nav_ul {
    list-style-type: none;
  	margin: 0;
  	padding: 0;
    background-color: #3d3a40;
}
.nav_li {
    float: left;
}
.nav_li_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Baloo 2 Medium';
}
a.nav_li_a:hover {
    background-color: #111;
}
.logo {
    
}
.logo_a {
    text-decoration: none;
    color: black;
}

html {
    background-color: #3d3a40;
}
h1 {
    float: left;
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon";
}