@charset "utf-8";
* {
  	box-sizing: border-box;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.nav_bar {
    background-color: black;
    overflow: hidden;
    height: 50px;
	min-height: 50px;
    width: 100%;
	min-width: 500px;
	max-width: 1920px;
	border-radius: 5px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #fdef5e;
	border-bottom-right-radius: 5px;
	margin: auto;
	margin-bottom: 25px;
}
.nav_ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}
.nav_ul_left {
    float: left;
} 
.nav_li {
	float: left;
}
.nav_li_right {
    float: right;
    margin-right: 2%;
}
.nav_li_a {
    width: 95px;
    height: 50px;
    color: #b4423b;
    text-decoration: none;
    font-family: 'Baloo 2 Medium';
    font-size: 16px;
    font-variant: normal;
	display: block;
	text-align: center;
	padding-top: 12.2px;
	padding-bottom: 12.2px;
	padding: 12.2px;
	
	/*box-shadow: 12px 0 10px -10px #fdef5e, -12px 0 10px -10px #fdef5e;*/

}
.nav_li_a_rightmost {
	box-shadow: -12px 0 10px -10px #fdef5e;
}
a.nav_li_a:hover {
    color: #fdef5e;
	text-shadow: 0px 0px 5px #fdef5e;
}
.logo {
	width: 150px;
	display: block;
	
}
.logo_none {
	width: 150px;
	display: none;
}
.logo_a {
	width: 150px;
	margin-left: 2%;
	float: left;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-right: 2%;
	
}
.logo:hover {
	max-width: 150px;
	margin-top: 0%;
	content: url("assets/BoostPlay_Neon.png");
}

@keyframes background {
	0% 		{background-color: black;}
	50% 	{background-color: #2B2B0A;}
	100% 	{background-color: black;}
}
html {
    background-color: black;
	animation-name: background;
  	animation-duration: 6s;
  	animation-iteration-count: infinite;
}
.profile {
	width: 400px;
  	background-color: black;
  	box-shadow: 0 0 10px 0 rgba(253, 239, 94, 1);
  	margin: auto;
	margin-top: 10%;
	border-radius: 5px;
	position: relative;
}
.profile p {
	text-align: center;
    font-family: 'Baloo 2 Medium';
    color: #fdef5e;
	margin-bottom: 0;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.profile table tr td {
	color: #b4423b;
	font-family: 'Baloo 2 Medium';
	
}
.profile table {
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
#p_email, #p_name {
	color: #fdef5e;
	text-align: left;
	padding-left: 10px;
}
.login {
  	width: 400px;
  	background-color: black;
  	box-shadow: 0 0 10px 0 rgba(253, 239, 94, 1);
  	margin: auto;
	margin-top: 10%;
	border-radius: 5px;
	position: relative;
}
@keyframes img_FadeInOut {
  0% {opacity:0;}
50% {opacity:1;}
100% {opacity:0;}
}
.img_boostplay {
	position: absolute;
	width: 150px;
	display: block;
	margin: auto;
	margin-left: 125px;
	padding: 20px 0 0 0;
}
.img_boostplay_neon {
	position: relative;
	width: 150px;
	display: block;
	margin: auto;
	padding: 20px 0 0 0;
	animation-name: img_FadeInOut;
	animation-iteration-count: infinite;
	animation-duration: 6s;
}
.login h1 {
    text-align: center;
    font-family: 'Baloo 2 Medium';
    color: #fdef5e;
	margin-bottom: 0;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #fdef5e;
    box-shadow: 0 5px 10px -4px rgba(253, 239, 94, 1);
}
.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #b4423b;
    color: #fdef5e;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 10px 0px black;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .login form input[type="confirm_password"] {
  	width: 310px;
  	height: 50px;
  	margin-bottom: 20px;
  	padding: 0 15px;
	background-image: linear-gradient(to right, #fdef5e, black);
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: inset 0px 0px 10px 3px black;
}
.login form input[type="password"]:focus, .login form input[type="text"]:focus, .login form input[type="email"]:focus, .login form input[type="confirm_password"]:focus {
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: none;
	background-image: none;
	background-color: #fdef5e;
}
.login form input[type="password"]:not(:focus), .login form input[type="text"]:not(:focus), .login form input[type="email"]:not(:focus), .login form input[type="confirm_password"]:not(:focus) {
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: none;
	background-color: #fdef5e;
}
.login form input[type="password"]:focus::placeholder, .login form input[type="text"]:focus::placeholder, .login form input[type="email"]:focus::placeholder, .login form input[type="confirm_password"]:focus::placeholder {
	color: transparent;
}
.login form input[type="password"]::placeholder, .login form input[type="text"]::placeholder, .login form input[type="email"]::placeholder, .login form input[type="confirm_password"]::placeholder {
  	color: rgba(0, 0, 0, .5);
	font-family: "Baloo 2 Medium";
}
.login form input#username, .login form input#password, .login form input#email, .login form input#confirm_password {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 0px;
}
.login form input[type="submit"] {
  	width: 30%;
	margin-left: auto;
	margin-right: 20px;
  	padding: 5px;
  	background-color: #b4423b;
  	border: 0;
  	cursor:pointer;
  	font-weight: bold;
  	color: black;
	font-family: "Baloo 2 Medium";
	box-shadow: 0 0 10px 0px rgba(253, 239, 94, 1);
  	transition: background-color 0.2s;
	transition: border-bottom 0.2s;
	transition: border-left 0.2s;
	transition: border-right 0.2s;
	transition: box-shadow 0s;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
}
.login form input[type="submit"]:hover {
	background-color: #fdef5e;
  	transition: background-color 0.2s;
	transition: box-shadow 1s;
	box-shadow: 0 0 10px 5px rgba(253, 239, 94, 1);
	
}
.login form input[type="submit"]:focus {
	background-color: #fdef5e;
  	transition: background-color 0.2s;
	transition: box-shadow 1s;
	box-shadow: 0 0 10px 5px rgba(253, 239, 94, 1);
	outline: none;
}
.login form div {
	position: relative;
	display: block;
	font-family: "Baloo 2 Medium";
	text-align: center;
	margin-left: 20px;
	margin-top: 5px;
	height: 25.6px;
}
.login form div a {
	text-decoration: none;
	color: #b4423b;
}
.login form div a:hover {
	color: #fdef5e;
	text-shadow: 0px 0px 5px #fdef5e;
}
.login form div a:focus {
	color: #fdef5e;
	text-shadow: 0px 0px 5px #fdef5e;
	outline: none;
}
/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
    width: 95px;
    margin-right: 39px;
}

/* Dropdown button */
.dropdown .dropbtn {
	display: block;
	position: relative;
	padding: 12.2px;
    width: 100px;
    font-size: 16px;
	height: 50px;
    border: none;
    outline: none;
    color: #b4423b;
    background-color: inherit;
    font-family: "Baloo 2 Medium"; 
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #fdef5e;
	text-shadow: 0px 0px 5px #fdef5e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: black;
    min-width: 120px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 10px 0px #fdef5e;
    clip-path: inset(0px -10px -10px -10px);
	left: auto;
	right: 2em;
	height: 0;
	opacity: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #b4423b;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 120px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  	height: 50px;
	opacity: 1;
	animation-name: setting_fade;
	animation-duration: 0.25s;
}
@keyframes setting_fade {
  0% {opacity:0;}
100% {opacity:1;}
}
.games {
	width: 35%;
	height: 100%;
	float: left;
}
.game-container {
	width: 400px;
	height: 100px;
	display: block;
  	background-color: black;
  	box-shadow: 0 0 10px 0 rgba(253, 239, 94, 1);
  	margin: auto;
	margin-top: 25px;
	border-radius: 5px;
	position: relative;
	display: block;
}
.game-container:hover {
	box-shadow: 0 0 15px 5px rgba(253, 239, 94, 1);
}
.game-display {
	width: 800px;
	height: 800px;
	display: block;
  	background-color: black;
  	box-shadow: 0 0 10px 0 rgba(253, 239, 94, 1);
	border-radius: 5px;
	position: relative;
	margin: auto;
}
#game-display-container {
	width: 65%;
	display: block;
	float: right;
	margin-top: 25px;
}
#dnd-container {
	background-image: url("assets/dnd_banner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#lol-container {
	background-image: url("assets/lol-banner.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#add-container {
	background-image: url("assets/add-sign.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100px;
	height: 50px;
}
#add-container:hover {
	background-image: url("assets/add-sign-glow.png");
}
/* Style the tab */
.tab {
	border-radius: 5px;
	position: fixed;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px #fdef5e;
	background-color: black;
	width: 100px;
	margin: auto;
	height: auto;
	text-align: center;
}
.sidebar-nav {
	
}

/* Style the buttons that are used to open the tab content */
.tab button {
	width: 100px;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	margin: auto;
	padding: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: #fdef5e;
}

/* Create an active/current tablink class */
.tab button.active {
	color: #fdef5e;
}
.tabcontainer {
	margin: auto;
	margin-top: 10px;
	width: 1400px;
}
/* Style the tab content */
.tabcontent {
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding: 0px 10px;
	box-shadow: 0px 0px 10px 0px #fdef5e;
	width: calc(100% - 100px);
	height: 0px;
	background-color: black;
	color: white;
	margin-left: 120px;
	margin-right: 0px;
	opacity: 0;
	transition: opacity 0.7s, height 0.7s, margin-bottom 0.7s;
}
.tabcontent.fade {
	opacity: 1;
	height: 600px;
	margin-bottom: 20px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOutEffect {
  from {opacity: 1;}
  to {opacity: 0;}
}
@media (max-width: 1000px) {
	.nav_bar{
		
	}
}

.dnd-input {
	padding: 3px;
	border-radius: 5px;
	border: none;
	background-color: #FDEF5E;
	box-shadow: inset 0px 0px 10px 1px black;
	
}
.dnd-input::placeholder {
	color: rgba(0, 0, 0, .5);
	font-family: "Baloo 2 Medium";
}
.dnd-input:focus {
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: outset;
	outline-color: #b4423b;
	outline-style: solid;
	
}
.dnd-input:focus::placeholder {
	color: transparent;
}
.dnd-input:not(:focus){
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: none;
}
.section-header{
	font-family: "Baloo 2 Medium";
	font-style: bold;
	color: #b4423b;
	margin: auto;
}
.section-header-large{
	font-family: "Baloo 2 Medium";
	font-style: bold;
	color: #b4423b;
	font-size: 30px;
	text-shadow: 2px 2px 5px black;
	width: 200px;
	height: 50px;
	float: left;
	margin: auto;
	margin-left: calc(50% - 100px);
}
.section-desc {
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	font-size: 14px;
	margin: 0px;
	margin-bottom: 5px;
	line-height: 1;
}
.content-section {
	padding: 10px;
	padding-bottom: 5px;
}
.dnd-select {
	padding: 3px;
	border-radius: 5px;
	border: none;
	background-color: #FDEF5E;
	box-shadow: inset 0px 0px 10px 1px black;
}
.dnd-select::placeholder {
	color: rgba(0, 0, 0, .5);
	font-family: "Baloo 2 Medium";
}
.dnd-select:focus {
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: outset;
	outline-color: #b4423b;
	outline-style: solid;
	
}
.dnd-select:focus::placeholder {
	color: transparent;
}
.dnd-select:not(:focus){
	color: rgba(0, 0, 0, 1);
	font-family: "Baloo 2 Medium";
	outline: none;
}
.dnd-select option:focus{
	background-color: green;
}
.toggle-button-cover {
	position: relative;
	box-sizing: border-box;
}

.button-cover,
.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0px 0px 10px 0px black;
}

.button {
	position: relative;
	top: 50%;
	width: 74px;
	height: 36px;
	overflow: hidden;
}

.button.r,
.button.r .layer {
	border-radius: 100px;
}
.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #fdef5e;
	transition: 0.3s ease all;
	z-index: 1;
}
#button-1 .knobs:before {
	content: "\2713";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 10px;
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: #3FB331;
	border-radius: 50%;
	transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
	box-shadow: 0px 0px 10px 0px black;
}

#button-1 .checkbox:checked + .knobs:before {
	content: "\2716";
	left: 42px;
	background-color: #f44336;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
	transition: 0.3s ease all;
}
.char-area{
	text-align: center;
	width: 800px;
	border: 2px solid #fdef5e;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #fdef5e;
	background-color: black;
	overflow: hidden;

}
.char-box {
	border-radius: 5px;
	width: 100%;
	background-color: black;
	box-shadow: 0px 0px 10px 0px #fdef5e;
	height: 125px;
	padding: 0px;
	border: none;
}
.char-box:hover {
	background-color: rgba(253, 239, 94, 0.2);
	cursor: pointer;
	box-shadow: 0px 0px 10px 0px rgba(253, 239, 94, .7);
}
.dnd-pfp{
	float: left;
    width: 100px;
    height: 100px;
	margin: 10px;
    border: 2px solid #fdef5e;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #fdef5e;
}
.char-area form{
	
}
.dnd-save{
	float: left;
	width: 100px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	margin: auto;
	padding: 10px;
	margin-top: 290px;
	box-shadow: 0px 0px 10px 0px #fdef5e;
	background-color: black;
	border-radius: 5px;
	position: fixed;
}
.dnd-save:hover{
	color: #fdef5e;
}
.dnd-add {
	background-color: transparent;
	border: none;
	background-image: url("assets/add-sign-square.png");
	background-size: 30px;
	width: 30px;
	height: 30px;
	padding: 0px;
	color: transparent;
}
.dnd-add-form {
	float: right;
	margin-top: auto;
	margin: 10px;
}
.dnd-add:hover {
	background-image: url("assets/add-sign-glow-square.png");
	cursor: pointer;
}
.char-box table {
	height: 120px;
	margin: 0px;
}
.char-box table tr td {
	max-width: 250px;
}
.char-box-snippet {
	text-align: left;
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	font-size: 18px;
	width: 250px;
	overflow: hidden;
	float: left;
}
.char-box-snippet-score-AC {
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	float: right;
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	font-size: 18px;
	margin-left: 20px;
	font-weight: bold;
}
.char-box-snippet-score {
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #b4423b;
	font-family: "Baloo 2 Medium";
	font-size: 18px;
	font-weight: bold;
}
.char-box-snippet-score-num {
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	float: right;
	color: #fdef5e;
	font-family: "Baloo 2 Medium";
	font-size: 18px;
}
.tabheader{
	text-align: center;
}
.tabheader_header {
	width: 200px;
	margin: auto;
	color: #b4423b;
	font-size: 30px;
	font-family: "Baloo 2 Medium";
	border: solid;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-color: rgba(253, 239, 94, 0.5);
}
.classlist {
	list-style-type: none;
	font-family: "Baloo 2 Medium";
	text-align: center;
	padding: 0px;
	float: left;
	width: 600px;
}
.classlist_right {
	float: right;
}
.classlist li {
	width: 100%;
	font-size: 28px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    box-shadow: 0px 0px 10px 0px;
    background-position: center;
    transition: transform .1s;
     
}
.classlist li:hover {
	box-shadow: 0px 0px 20px 0px;
	background-position: center;
	transform: scale(1.02);
	cursor: pointer;

}
#artificer {
	background-image: url("assets/artificer-select.png");
	color: rgb(153,170,255);

}
#barbarian {
	background-image: url("assets/barbarian-select.png");
	color: rgb(198,255,163);
}
#bard {
	background-image: url("assets/bard-select.png");
	color: rgb(163,255,64);
}
#cleric {
	background-image: url("assets/cleric-select.png");
	color: rgb(254,255,189);
}
#druid {
	background-image: url("assets/druid-select.png");
	color: rgb(255,82,66);
}
#fighter {
	background-image: url("assets/fighter-select.png");
	color: rgb(183,66,255);
}
#monk {
	background-image: url("assets/monk-select.png");
	color: rgb(255,25,25);
}
#paladin {
	background-image: url("assets/paladin-select.png");
	color: rgb(239,161,255);
}
#ranger {
	background-image: url("assets/ranger-select.png");
	color: rgb(66,207,115);
}
#rogue {
	background-image: url("assets/rogue-select.png");
	color: rgb(255,255,255);
}
#sorcerer {
	background-image: url("assets/sorcerer-select.png");
	color: rgb(84,246,255);
}
#warlock {
	background-image: url("assets/warlock-select.png");
	color: rgb(252,255,74);
}
#wizard {
	background-image: url("assets/wizard-select.png");
	color: rgb(255,203,89);
}
